############################################
#     Configure File
############################################
# [Gene Input]:
# This pipeline will auto-identify TE seqs in each gene sequence/species;
# The gene sequences should be cDNA or CDS, and saved together in a same folder;
# Please ensure the file suffix is one of '.fa|.fas|.fasta';
# Please ensure the IDs do not have space(s) and length <=50
geneFasFolder = ./test_cds
geneType = 1 # 1:CDS 2:cDNA #if cDNA provided, the longest ORF will be identified and then used for Homologs prediction

# [Genome Input (not supported now)]:
# If genome and annotation are available, this pipeline can also identify TE insertions into introns;
# Please change the file suffix of genomes to be '.fa|.fas|.fasta';
# Gene annotation GTF/GFF should be saved together with the genome file, and with suffix '.gene.gff';
# (if available) The TE annotation GTF/GFF can also be provided with the genome file, and with suffix '.te.gff'
# For example:genome = '1.fa'; gene GTF = '1.fa.gene.gff'; TE GTF = '1.fa.te.gff';
#genomeFolder = /home/sunyb/data/genomes

# [Foreground Lineages]: the lineage-specific TE co-option will be identified along the Foreground Lineages
querySpecies =  dolphin.fa,whale.fa  #raw input filename, seperated by comma.

############################################
#     program required
############################################
# Program RepeatMasker should be installed before, as well as its Dfam.hmm library (see RepeatMasker installation manual);
# RepeatMasker needs an additional installation of HMMER;
# Homologs prediction based on cDNA or GTF need blast(-like) analyses: diamond will be used instead of blastp if CDS provided (for speedup);
repeatMaskerPath = /home/sunyb/biosoft/RepeatMasker/RepeatMasker

############################################
#     Homologs prediction option
############################################
#Genetic Codes Choice (for gene inputs):
#0: The Standard Code; 1: The Vertebrate Mitochondrial Code; 2: The Yeast Mitochondrial Code; 3: The Mold, Protozoan, and Coelenterate Mitochondrial Code and the Mycoplasma/Spiroplasma Code;
#4: The Invertebrate Mitochondrial Code; 5: The Ciliate, Dasycladacean and Hexamita Nuclear Code; 8: The Echinoderm and Flatworm Mitochondrial Code
#9: The Euplotid Nuclear Code; 10: The Bacterial, Archaeal and Plant Plastid Code; 11: The Alternative Yeast Nuclear Code
forceRunH = 0 #ignore previous result and run get_homologue forcely [1=True;0=False]
genetic_code = 0 #see above
blast_parallel = 30
Evalue = 1E-6
reference = NA #raw filename with suffix
inflation = 1.5 #range = [1-5]
minCoverage = 75 #range = [1-100]

############################################
#     RepeatMasker option
############################################
forceRunR = 0 #ignore previous result and run RepeatMasker forcely [1=True;0=False]
engine = ncbi #crossmatch|wublast|abblast|ncbi|hmmer|decypher #hmmer is recommended
search_parallel = 30
searchType = slow #[slow|quick] slow = sensitive
bitScore = 15 #only query seqs with bit score >= 35 will be reported.
seqDiverge = 40 #only identify those repeats < $seqDiverge percent diverged from consensus TE seqs
TE_library = /home/sunyb/biosoft/RepeatMasker/Libraries/RMRBMeta.embl #not work with hmmer

############################################
#     other/output option
############################################
#flankDistance = 500 # only for genome inputs
minTELenth = 50
outputFolder = auto #[auto = "geneFasFolder_specTEG_main_outs_under_XXX.config"]
outputFile = Specific.teg #saved in the outputFolder